<% content_for :title do %>Valencia Temperature dashboard<% end %>
<div class="gridster">
  <ul>


<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="forecast" data-view="Forecast" data-title="Valencia Temperature" ></div>
</li>


  </ul>
</div>
